* {
    box-sizing: border-box;
}

body {
    font-family: system-ui;
}

main {
    width: 800px;
    margin-inline: auto;
}

canvas {
    height: 400px;
}

form {
    width: 100%;
    display: grid;
    grid-template-columns: auto minmax(0, 1fr);
    grid-template-rows: auto minmax(0, 1fr);
    gap: 0.5em;
}

fieldset {
    margin: 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
}

fieldset:first-child {
    grid-column: span 2;
    display: block;
}

fieldset > legend {
}

#chartData {
    display: inline;
    font-family: Consolas, 'Courier New', monospace;
    font-size: 14px;
    line-height: 19px;
    max-width: 100%;
    min-width: 0;
    overflow: auto;
    height: auto;
    /* padding: 12px 20px; */
    /* border: 1px solid #ccc; */
    /* border-radius: 4px; */
    background-color: #ffffff;
    caret-color: black;
    resize: none;
}

button {
    display: inline-block;
    outline: 0;
    cursor: pointer;
    text-align: center;
    border: 1px solid #babfc3;
    padding: 7px 16px;
    min-height: 36px;
    min-width: 36px;
    color: #202223;
    background: #ffffff;
    border-radius: 4px;
    font-weight: 500;
    font-size: 14px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 0px 0px;
}

button:hover {
    background: #f6f6f7;
    outline: 1px solid transparent;
}
  
input::file-selector-button {
    display: inline-block;
    outline: 0;
    cursor: pointer;
    text-align: center;
    border: 1px solid #babfc3;
    padding: 7px 16px;
    min-height: 36px;
    min-width: 36px;
    color: #202223;
    background: #ffffff;
    border-radius: 4px;
    font-weight: 500;
    font-size: 14px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 0px 0px;
}

fieldset section:has(input[type="file"]) {
    outline: 1px solid green;
}

input::file-selector-button:hover {
    background: #f6f6f7;
    outline: 1px solid transparent;
}

input[type="checkbox"] + label {
    display: inline;
}