* {
    box-sizing: border-box;
}

html {
    color-scheme: light dark;
}

body {
    font-family: system-ui;
    line-height: 1.5;
    font-size: 1.125rem;
}

main {
    width: min(55ch, 100% - 4rem);
    margin-inline: auto;
}

form {
    position: relative;
    width: 100%;
}

#text {
    width: 100%;
    padding: 12px 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    resize: none;
    font-family: monospace;
    font-size: 16px;
}

#text.invalid {
    outline: red auto 1.5px;
}

#text span.key {
    color: darkblue;
    font-style:italic;
}

#text span.value {
    color: darkgreen;
}

